/*CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variaveis*/

:root {
    --RosaClaro: #f890e2;
    --RoxoMedio: #c949e9;
}
/*Layout*/
.container,main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

html {
    font-size: 16px;

}

body {
    font-family: "Merriweather", serif;
    background-color: var(--RosaClaro);
}
/*Cabeçalho*/
header {
    text-align: center;
}
header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 50px;
}
header h1 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 10px 0px 10px 0px;
}
header h2 {
    font-size: 1rem;
    font-weight: 400;
    max-width: 210px;
    margin-bottom: 30px;
}
/*Principal*/
main a {
    background-color: var(--RoxoMedio);
    text-align: center;
    margin-bottom: 15px;
    text-decoration: none;
    width: 360px;
    height: 60px;
    border-radius: 20px;
    padding-top: 15px;
}
/*Rodapé*/
footer img {
    margin: 0px 10px 0px 10px;
}

